.info_container {
  /* color: rgb(41, 66, 85); */
  color: aliceblue;
}
.info_container div {
  display: inline-block;
}

.info_container .play_icon,
/* .info_container .clock_reset_icon, */
.info_container .pause_icon {
  margin-left: -250px;
  padding: 1px;
  font-size: 38px;
  display: inline-block;
}

.info_container .clock_reset_icon {
  /* color: red; */
  margin-right: -250px;
  padding: 1px;
  font-size: 38px;
  display: inline-block;
}
.info_container .clock_counter {
  margin: 0;
  padding: 1px;
  display: inline-block;
  font-size: 38px;
}
