.typingArea_container {
  margin: 0px auto;
  height: 240px;
  width: 918px;
  padding: 15px;
  border-radius: 5px;
  background-color: aqua;
  border: 3px solid #000;
}
.typingArea_container button {
  padding: 14px;
  margin: 1px;
  min-width: 70px;
  /* height: 45px; */
  /* width: 60px; */
  font-size: 15px;
  background-color: #3c0753;
  color: #fff;
  border-radius: 5px;
  border: 2px solid rgb(8, 86, 112);
}

.typingArea_container h2{
  padding: 14px;
  margin-top: -20px;
  min-width: 70px;
  display: inline-block;
  /* height: 45px; */
  /* width: 60px; */
  font-size: 15px;
  background-color: #3c0753;
  color: #fff;
  border-radius: 5px;
  border: 2px solid rgb(8, 86, 112);
}
/* .typingArea_container button.Space {
  width: 90px; 
} */

.typingArea_container .row-0,
.typingArea_container .row-1 {
  display: inline-block;
  margin: 30px;
  width: 40%;
  /* border: 2px solid red; */
}

.typingArea_container .row-2,
.typingArea_container .row-3 {
  display: inline-block;
  margin: 30px;
  width: 40%;
  /* border: 2px solid greenyellow; */
}

.typingArea_container button:disabled {
  background-color: #be8ad4;
  border: 2px solid rgb(8, 86, 112);
}
